<div class="well-wrapper">
 <div class="panel panel-default">
 	<div class="text-center">
    <div class="panel-heading"><h1>Gifting just got easier!</h1></div>
    <div class="well well-lg">
    	<div class="panel-body">We know you love to shower your loved ones with gifts! But it can get tricky if you have to pool money manually. That's where we swoop in to help you!<br>Choose from a variety of our products and gift vouches to present to your friends and family!</div>
	</div>
</div>
 </div>
</div>