<h4>SEND INVITES</h4> 
	<form role="form" ng-submit="addmember1()">
	<div class="row">
		<div class="input-group">
			<input type="text" ng-model="invitee" class="form-control">
			<span class="input-group-btn">
			<input type="submit" class="btn btn-primary" value="Add member">				
			</span>			
		</div>
	</div>
	</form>

	<div ui-sortable ng-model="invites">
	<p class="input-group" ng-repeat="invitee in invites" style="padding:5px 10px; cursor: move;">
	<input type="text" ng-model="invitee.email_id" class="form-control">
	<span class="input-group-btn">
	<button class="btn btn-danger" ng-click="remove($index)" aria-label="Remove">X</button>
 </span>	
 </p>
 	</div>
 	<br>
 	<div>
 		<input type="submit" class="btn btn-success" ng-click="send()" value="Send">				
 	</div>
