<div class="container well" style="margin-top:150px">
<div class="form-changepassword-wrapper">
	<form class="form-changepassword">
        <h4 class="form-changepassword-heading">Please enter new password</h4>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" ng-model="new_password" placeholder="Password" required>
        <!-- <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div> -->
        <button class="btn btn-lg btn-primary btn-block"  ng-click="changepassword()" type="submit">Submit</button>
     </form>
</div>
</div>