
<!--<div ui-sortable ng-init="commentdisplay()">
<p>
	<h4><span ng-bind="author"></span></h4>:<h4><span ng-bind="content"></span></h4><br>

</p>
 <p class="input-group" data-ng-repeat="x in comments" style="padding:5px 10px; cursor: move;">
	<span style="background-color:yellow" ng-bind="x.comments.author"></span>:<span ng-bind=" x.comments.content"></span><br>
	</p>


		<div class="input-group">
	<input type="text" ng-model="cmnt" class="form-control">
			<span class="input-group-btn">
			<input type="submit" class="btn btn-warning" value="Comment" ng-click="postcomment()">
			</span>
		</div>
		</div>-->
<div ui-sortable ng-init="commentdisplay()">
<p>
	<h4><u><span ng-bind="author"></span> says:</u></h4><br>
	<h3><i>"<span ng-bind="content"></span>"</i></h3><br>

</p>
 <p class="input-group" data-ng-repeat="x in cmnts" style="padding:5px 10px; cursor: move;">
	<span style="color:blue" ng-bind="x.author"></span>: <span ng-bind=" x.content"></span><br>
	</p>
	</div>


	<div class="input-group">
	<input type="text" ng-model="cmnt" class="form-control">
			<span class="input-group-btn">
			<input type="submit" class="btn btn-warning" value="Comment" ng-click="postcomment();reloadRoute()">
			</span>
		</div>

		