
	<!-- <head>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	</head> -->

	<!-- <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Details of event</h4>
        </div>
        <div class="modal-body">
        Name: <span ng-bind="x.event_name" id="event_name" ng-model="selected.x.event_name"></span><br>
		ID: <span ng-bind="x.event_id" id="event_id" ng-model="selected.x.event_id"></span><br>
		Description: <span ng-bind="x.event_description" id="event_description" ng-model="selected.x.event_discription"></span><br>
		Target amount: <span ng-bind="x.target_amount" id="target_amount" ng-model="selected.x.target_amount"></span><br>
		Target date: <span ng-bind="x.target_date" id="target_date" ng-model="selected.x.target_date"></span><br>
		Public: <span ng-bind="x.public" id="public" ng-model="selected.x.public">></span>
         
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
 -->
	<h3>LIST OF EVENTS</h3>
	<!--<input type="submit" value="Click to view" ng-init="list()">-->
	<!--<div ng-repeat="x in eventlist">
	<p>
	<span>{{x.event_id}}</span>
	<span>{{x.event_name}}</span>
	<span>{{x.target_date}}</span>
	<span>{{x.target_amount}}</span>
	</p>-->
	<div ng-init="list()">
	<span ng-bind="show"></span>
	<table border="0">
	<tr>
		<th width="50" height="50">S.No.</th>
		<th width="100" height="50">Event Name</th>
		<th width="100" height="50">Date created</th>
		<th width="100" height="50">Details of Event</th>
		<th width="100" height="50" ng-show="visibility" class="hideornot">Add new member</th>
		<th width="100" height="50" ng-show="visibility1" class="hideornot1">Pay</th>
	</tr>
	</table>
	<div ng-model="eventlist" data-ng-repeat="x in eventlist" >
	<table border="0">
	<tr><td width="50" height="100" ng-bind="$index+1"></td><td ng-bind="x.event_name" width="100" height="100"></td>
	<td ng-bind="x.date_created" width="100" height="100"></td>
	<td width="100" height="100"><a ng-href="#/details" ng-click="addmember1(x)">Details</a></td>
	<!-- <button data-toggle="modal" ng-click="open(x)" data-target="#myModal">Details</button> -->

	<!--<a ng-href="" data-toggle="modal" data-target="#myModal">Details</a>--> 
  

	<td  width="100" height="100"><a ng-href="#/add" ng-click="addmember1(x)" ng-show="visibility" class="hideornot">Add member</a></td>
	<td  width="100" height="100"><a ng-href="" ng-click="pay(x)" ng-show="visibility1" class="hideornot1">Pay Now</a></td>
	<!--<td ng-bind="x.event_description" width="150" height="100"></td>
	<td ng-bind="x.event_id"width="50" height="100"></td>
	<td ng-bind="x.target_amount" width="100" height="100"></td>
	<td ng-bind="x.target_date" width="100" height="100"></td>
	<td ng-bind="x.public" width="50" height="100"></td></tr>-->
	</table>

	</div>

	<div>
		<button ng-click="listevents()">View all events</button>
		&#160;
		&#160;
		&#160;
		<button ng-click="listeventsinvited()">List all events in which you are invited</button>
	</div>

<div>
	<form role="form" ng-submit="create()">
	<div class="row">
		<div>
			<span class="input-group-btn">
			&nbsp;&nbsp;
			<input type="submit" class="btn btn-primary" value="Create a new event">				
			</span>			
		</div>
	</div>
	</form>
</div>

	<!-- <div modal="showModal"> -->

	
	<!--<div ng-repeat="data in eventlist">
        <a ng-click=showdetail(data)><strong><ins><span ng-bind=data.event_name></span></ins></strong></button></a>
        <p ng-bind=data.target_date>
        </p>
        <p ng-bind=data.target_amount>
        </p>
        </div>fks
        <br />
      </li>
    </ul>
</div>-->