<div class="col-md-6 text-center">
<div class="well">
<div class="form-pool-wrapper">
	<form class="form-pool" name="form2">
        <h2 class="form-pool-heading">Create a Pool</h2>
        <label for="target_date" class="sr-only">Target Date</label>
        <input type="text" id="target_date" class="form-control" ng-model="target_date" placeholder="Target Date" required autofocus>
        <label for="target_amount" class="sr-only">Target Amount</label>
        <input type="number" id="target_amount" class="form-control" ng-model="target_amount" placeholder="Target Amount" required autofocus>
        <label for="event_name" class="sr-only">Event Name</label>
        <input type="text" id="event_name" class="form-control" ng-model="event_name" placeholder="Event Name" required autofocus>
        <label for="event_description" class="sr-only">Event Description</label>
        <textarea type="text" id="event_description" class="form-control" ng-model="event_description" placeholder="Event Description" required autofocus></textarea>
        <label for="customized_message" class="sr-only">Customized Message</label>
        <textarea type="text" id="customized_message" class="form-control" ng-model="msg" placeholder="Customized Message" required autofocus></textarea>
        <input type="radio" ng-model="choose" value="v">Gift Voucher
        <input type="radio" ng-model="choose" value="g">Gifts 
        <input type="submit" class="btn btn-primary" value="Go" ng-click="check()">
        <span ng-bind="print"></span>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="checkboxvalue" ng-true-value="'true'" ng-false-value="'false'"> Public
          </label>
        </div>
         <p ng-bind="response" class="text-danger"></p>
     </form>
     <p ng-model="products" data-ng-repeat="x in products">
	<span ng-bind="x.name"></span>
	<br>
	<span ng-bind="x.image"></span>
	<br>
	Price: <span ng-bind="x.price"></span>INR<br>
	ID: <span ng-bind="x.id"></span> <input type="submit" ng-model="pid" class="btn btn-primary" ng-click="push(x)" value="Add to Basket">
	</p>
</div>
</div>
</div>


	<h4 ng-bind="m"></h4><br>
	<div ui-sortable ng-model="pids">
		<div class="input-group" ng-repeat="pid in pids" style="padding:5px 10px; cursor: move;">
		<input type="text" ng-model="pid">
		<!--<textarea rows="10" cols="20" ng-model="pid" class="form-control"></textarea>-->
	<button ng-click="rem3($index)" aria-label="Remove">X</button>

		<!--<span class="input-group-btn">
	<button class="btn btn-danger" ng-click="rem3($index)" aria-label="Remove">X</button>
 </span>-->
		</div>
	</div>
	

	<!--<input type="submit" value="test" ng-click="test()">-->

<div class="col-md-6 text-center">
	<h4>SEND INVITES</h4> 
	<form role="form" ng-submit="addmember()">
	<div class="row">
		<div>
			Email id: <input type="text" ng-model="invitee">
			Amount: <input type="text" ng-model="amt">
			
			<input type="submit" class="btn btn-primary" value="Add member">
			
		</div>
	</div>
	</form>

	<span ng-bind="n"></span>
	
	<div class="row">
	<div class="col-md-6">
	<div ui-sortable ng-model="invites">
	<div class="input-group" ng-repeat="invitee in invites" style="padding:5px 10px; cursor: move;">
	<input type="text" ng-model="invitee.email_id">
	
	<!--<button class="btn btn-danger" ng-click="remove($index)" aria-label="Remove">X</button>-->

 </div>
 	</div>
 	</div>

 	<div class="col-md-6">
 	<div ui-sortable ng-model="amounts">
	<div class="input-group" ng-repeat="amt in amounts" style="padding:5px 10px; cursor: move;">
	
	<input type="text" ng-model="amt.amount">
	
	<button class="btn btn-danger" ng-click="remove($index)" aria-label="Remove">X</button>
	
 </div>
 	</div>
 	</div>
 </div>

    <p ng-bind="response" class="text-danger"></p>

 	<div>
 		<input type="submit" class="btn btn-success" ng-click="send()" value="Create">
 	</div>
 </div>

<!--<form role="form" ng-submit="addTodo()">
<div class="row">
<div class="input-group">

<input type="text" ng-model="todo" placeholder="add new" class="form-control">
<span class="input-group-btn">
<input type="submit" class="btn btn-primary" value="Add">
</span>
</div>
 </div>
</form>

<div ui-sortable ng-model="todos">
<p class="input-group" ng-repeat="todo in todos" style="padding:5px 10px; cursor: move;">
<input type="text" ng-model="todo" class="form-control">
<span class="input-group-btn">
<button class="btn btn-danger" ng-click="remove($index)" aria-label="Remove">X</button>
 </span>
</p>-->
