
<!--<head>
<link rel="stylesheet" type="text/css" href="mystyle.css">
</head>-->

<div class="col-sm-3" ng-init="details()">
<h4><u><b>DETAILS</b></u></h4><hr>
	<b>Name:</b> <span ng-bind="registry_name"></span><hr>
	<b>ID:</b> <span ng-bind="registry_id"></span><hr>
	<b>Description:</b> <span ng-bind="registry_description"></span><hr>
	<b>Target Date:</b> <span ng-bind="target_date"></span><hr>

	<!--<b>NAME:</b> <span ng-bind="pool_name"></span><hr>
	<b>ID:</b> <span ng-bind="pool_id"></span><hr>
	<b>DESCRIPTION:</b> <span ng-bind="pool_description"></span><hr>
	<b>TARGET AMOUNT:</b> <span ng-bind="target_amount"></span><hr>
	<b>TARGET DATE:</b> <span ng-bind="target_date"></span><hr>-->

	<!--<ul>
	<li>Name: <span ng-bind="pool_name"></span></li><hr>
	<li>ID: <span ng-bind="pool_id"></span></li><hr>
	<li>Description: <span ng-bind="pool_description"></span></li><hr>
	<li>Target amount: <span ng-bind="target_amount"></span></li><hr>
	<li>Target date: <span ng-bind="target_date"></span></li><hr>
	</ul>-->
	<button class="btn btn-info" onclick="cc()">Share on Facebook</button>
	<br><br><!--<br><br><br><br><br><br>-->
	
	<button class="btn btn-warning" data-toggle="modal" data-target="#modal">Edit the Registry</button><br><br>
	<button class="btn btn-danger" ng-click="delete()">Delete the Registry</button>

	<div class="modal fade" id="modal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit the Details</h4>
        </div>
        <div class="modal-body">
          <table border="0">
          <tr><td>Name</td><td><input type="submit" value="Edit" ng-click="edita()"></td><td><input type="text" ng-hide="edit1" ng-model="edname"></td></tr><br>
          <tr><td>Date</td><td><input type="submit" value="Edit" ng-click="editb()"></td><td><input type="text" ng-hide="edit2" ng-model="eddate"></td></tr><br>
          <tr><td>Description</td><td><input type="submit" value="Edit" ng-click="editc()"></td><td><textarea ng-hide="edit3" ng-model="eddes" rows="5" cols="10"></textarea></td></tr><br>
          <tr><td>Private/Public</td><td><input type="submit" value="Edit" ng-click="editd()"></td><td><input type="checkbox" ng-model="edpb" ng-hide="edit4"></td></tr>
          </table>
          <br><button class="btn btn-success" ng-click="change()">Edit</button>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
</div>

<div class="col-sm-6">

<form role="form" ng-submit="post()">

	<div class="row">
	<div class="jumbotron">
		<h3>POST SOMETHING ABOUT THE REGISTRY</h3>
		</div>
		<!--<div class="input-group">-->
		
			<textarea rows="10" cols="70" ng-model="msg"></textarea>
			<br>
<input type="submit" class="btn btn-primary" ng-click="post()" value="POST">		
 		
			<!--<span class="input-group-btn">
			<input type="submit" class="btn btn-primary" value="POST">				
			</span>	-->		
		<!--</div>-->
	</div>
	</form>

<div ui-sortable ng-model="messages">
 <p class="input-group" ng-repeat="msg in messages" style="padding:5px 10px; cursor: move;">
	<span style="background-color:lightblue" ng-bind="msg"></span>	
	<span class="input-group-btn">
	<button class="btn btn-danger" ng-click="rem1($index)" aria-label="Remove">X</button>
 </span>
</p>

</div>

 	<div ui-sortable ng-model="comments">
	<p class="input-group" ng-repeat="cmnt in comments" style="padding:5px 10px; cursor: move;">
	<span style="background-color:yellow" ng-bind="cmnt"></span>
	<span class="input-group-btn">
	<button class="btn btn-danger" ng-click="rem2($index)" aria-label="Remove">X</button>
 </span>	
 </p>
 	</div>

 	<p>
	<h3>Post a Comment</h3>
	<form role="form" ng-submit="comment()">
	<div class="row">
		<div class="input-group">
			<input type="text" ng-model="cmnt" class="form-control">
			<span class="input-group-btn">
			<input type="submit" class="btn btn-warning" value="Comment">				
			</span>			
		</div>
	</div>
	</form>

	<!--<form role="form" ng-submit="comment()">
	<div class="row">
		<div class="input-group">
		<input type="text" ng-model="cmnt" class="form-control">
			<textarea ng-model="cmnt" rows="2" cols="70" class="form-control"></textarea>
			<input type="submit" class="btn btn-primary" value="Comment">				
					
		</div>
	</div>
	</form>-->
</p>
</div>


	
<div class="col-sm-3" ng-init="details()">
<h4><u><b>Contributors to the Registry</b></u></h4><hr>
<div ng-model="giftbucket" data-ng-repeat="x in giftbucket">
<b>Id:</b> <span ng-bind="x.pid"></span><br>
<b>Payment Status:</b> <span ng-bind="x.status"></span><hr>
</div>
	<!--<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>-->
</div>