<div class="col-md-12">
<div class="well">
<div class="form-login-wrapper">
	<form class="form-login">
        <h2 class="form-login-heading">Log in or<a ng-href="#/usersignup"> Sign Up</a></h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" ng-model="text3" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" ng-model="text4" placeholder="Password" required>
        <!-- <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div> -->
        <br>
        <a ng-href="#/forgot">Forgot password?
        </a>
         <br>
         <p ng-bind="response" class="text-danger"></p>
        <button class="btn btn-lg btn-primary btn-block"  ng-click="click1()" type="submit">Log in</button>
     </form>
</div>


<!--
  Below we include the Login Button social plugin. This button uses
  the JavaScript SDK to present a graphical Login button that triggers
  the FB.login() function when clicked.
-->
<div class="text-center">
<fb:login-button scope="public_profile,email" onlogin="checkLoginState()">
</fb:login-button>
<div id="status">
</div>
</div>
<!-- <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
       Modal content
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add amount</h4>
        </div>
        <div class="modal-body">
          <label for="confirmation" class="sr-only">Please click to confirm</label>
        <input type="number" class="form-control" ng-model="amount" placeholder="00000" required autofocus>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="fblogin()">Confirm</button>
        </div>
      </div>
      
    </div>
  </div> -->
<!-- <button ng-click="fblogin()">Click me</button> -->
<!-- <p ng-bind="response" class="text-danger"></p> -->

<!-- <div id="my-signin2"></div> -->

<!-- <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark" data-width="300" data-height="200" data-longtitle="true"></div> -->
</div>
</div>