<div class="well">
<div class="wrapper">
    <form class="form-signup" name="form1">       
      <h2 class="form-signup-heading">Please sign up</h2>
      <input type="text" class="form-control" name="first_name" ng-model="first_name" placeholder="First Name" required="" autofocus="" />
      <input type="text" class="form-control" name="middle_name" ng-model="middle_name" placeholder="Middle Name" autofocus="" />
      <input type="text" class="form-control" name="last_name" ng-model="last_name" placeholder="Last Name" autofocus="" />
      <input type="email" id="email" class="form-control" name="email" ng-model="email" placeholder="Email id" required="" autofocus="" />
      <span ng-show="form1.email.$error.required && form1.email.$dirty">required</span>
      <span ng-show="!form1.email.$error.required && form1.email.$error.email && form1.email.$dirty">invalid email</span>

      <input type="password" id="password" class="form-control" name="password" placeholder="Password" ng-model="password" ng-minlength="8" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required=""/>
      <span ng-show="form1.password.$error.required && form1.password.$dirty">required</span>
      <span ng-show="!form1.password.$error.required && (form1.password.$error.minlength || form1.password.$error.maxlength) && form1.password.$dirty">Passwords must be between 8 and 20 characters.</span>
      <span ng-show="!form1.password.$error.required && !form1.password.$error.minlength && !form1.password.$error.maxlength && form1.password.$error.pattern && form1.password.$dirty">Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</span>

      <input type="text" class="form-control" name="house" ng-model="house" placeholder="House" autofocus="" />
      <input type="text" class="form-control" name="street" ng-model="street" placeholder="Street" autofocus="" />
      <input type="text" class="form-control" name="city" ng-model="city" placeholder="City" autofocus="" />
      <input type="text" class="form-control" name="state" ng-model="state" placeholder="State" autofocus="" />
      <input type="text" class="form-control" name="country" ng-model="country" placeholder="Country" autofocus="" />
      <input type="number" id="d" class="form-control" name="phone" ng-model="phone" placeholder="Contact No." ng-minlength="10" ng-maxlength="10" autofocus="" />
      <h4>Upload Photo</h4> <input type="file" name="f" class="form-control" ng-model="user_img" autofocus=""/>
</p>
            
      <!-- <label class="checkbox">
        <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
      </label> -->
      <p ng-bind="response" class="text-danger"></p>
      <button class="btn btn-lg btn-primary btn-block" ng-click="submit()" type="submit" ng-disabled="!form1.$valid">Sign up</button>   
    </form>
  </div>
</div>