<div>
<h2>USERS SIGN UP</h2>

<p>
<img src="../images/occasion.jpg" align="left" width="400" height="300">
<span ng-bind="print"></span>
<form name="form1" >
<table border="0"; align="center"; style="text-align:center; background-color: #66C">
<tr><td>First Name</td><td><input type="text" ng-model="first_name" required></td></tr>

<tr><td>Middle Name</td><td><input type="text" ng-model="middle_name"></td></tr>

<tr><td>Last name</td><td><input type="text" ng-model="last_name"></td></tr>

<tr><td>Email</td><td><input type="email" id="email" name="email" ng-model="email" required></td></tr>

<tr><td><span ng-show="form1.email.$error.required && form1.email.$dirty">required</span></td><td></td></tr>

<tr><td><span ng-show="!form1.email.$error.required && form1.email.$error.email && form1.email.$dirty">invalid email</span></td><td></td></tr>

<tr><td>Password</td><td><input type="password" id="password" name="password" ng-model="password" ng-minlength="8" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required></td></tr>

<tr><td><span ng-show="form1.password.$error.required && form1.password.$dirty">required</span></td><td>
   <span ng-show="!form1.password.$error.required && (form1.password.$error.minlength || form1.password.$error.maxlength) && form1.password.$dirty">Passwords must be between 8 and 20 characters.</span></td></tr>

   <tr><td><span ng-show="!form1.password.$error.required && !form1.password.$error.minlength && !form1.password.$error.maxlength && form1.password.$error.pattern && form1.password.$dirty">Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</span></td><td></td></tr>

   <!--<tr><td>Confirm Password</td><td><input type="password" id="password_c" name="password_c" ng-model="confirmpassword" valid-password-c required  /></td></tr>

   <tr><td><span ng-show="form1.password_c.$error.required && form1.password_c.$dirty">Please confirm your password.</span></td><td>
   <span ng-show="!form1.password_c.$error.required && form1.password_c.$error.noMatch && form1.password.$dirty">Passwords do not match.</span></td></tr>

   <tr><td>Confirm Password</td><td><input type = "text" name = "Confpassword" ng-model="user.cnfPwd" data-equal-to="password" ></td></tr>
        <tr><td><div data-ng-show = "showmsg"> Password matched </div></td><td><div data-ng-show = "hidemsg"> Password not matched </div></td></tr>-->


<tr><td>House no</td><td><input type="text" ng-model="house"></td></tr>
<tr><td>Street</td><td><input type="text" ng-model="street"></td></tr>
<tr><td>City</td><td><input type="text" ng-model="city"></td></tr>
<tr><td>State</td><td><input type="text" ng-model="state"></td></tr>
<tr><td>Country</td><td><input type="text" ng-model="country"></td></tr>
<tr><td>Phone</td><td><input type="number" id="d" ng-model="phone" ng-minlength="10" ng-maxlength="10"></td></tr>

<tr><td><input type="submit" ng-click="submit()" value="Register" class="btn" ng-disabled="!form1.$valid"></td><td></td></tr>
</table>
</form>

<!--<div role="alert">
    <span class="error" ng-show="form1.input.$error.required">
      Required!</span>
    <span class="error" ng-show="form1.input.$error.number">
      Not valid number!</span>
  </div>-->
</p>

<!--<script type="text/javascript">
	var len={min:8};
	var input=document.getElementById('b');

	if(input.value.length<=len.min)
	{
		alert("Length too short");
	}

</script>-->
</div>