
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add amount</h4>
        </div>
        <div class="modal-body">
          <label for="walletadd" class="sr-only">Amount</label>
        <input type="number" class="form-control" ng-model="amount" placeholder="00000" required autofocus>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="walletadd()">Submit</button>
        </div>
      </div>
      
    </div>
  </div>

<div class="container-centered col-md-9 text-center">

<div ng-init="wallethistory()">
	<span ng-bind="show"></span>
		<div ng-model="transcationlist" ng-repeat="x in transactionlist" >
			<div class="well well-lg text-success" ng-if="x.pool_id == ''">
        <span class="glyphicon glyphicon-ok"></span>
				Rs.{{x.amount}} was added to your wallet on {{x.date}}
			</div>
			<div class="panel panel-success" ng-if="x.pool_id != ''">
        <span class="glyphicon glyphicon-ok"></span>
				Rs.{{x.amount}} was transferred from your wallet on {{x.date}} for event
				{{x.pool_id}}
			</div>
		</div>
	</div>
</div>
<p ng-bind="response" class="text-danger"></p>
</div>

<div class="col-md-3 text-center">
<button type="button" ng-click="wallethistory()"><span class="glyphicon glyphicon-refresh"></span></button>
<br>
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-plus"></span>Add amount to wallet</button>
</div>