
<div align="left">
<h3>1. SIGN UP</h3>
<br>
<h3>2. CREATE AN EVENT</h3>
<br>
<h3>3. POOL FOR THE GIFTS</h3>
	<!--<img src="../images/we.png" height="75" width="200">
	<br>
	<img src="../images/make.png" height="75" width="200">
	<br>
	<img src="../images/gifting.png" height="75" width="200">
	<br>
	<img src="../images/easier.png" height="75" width="200">-->
	
</div>
<div align="right">
<!--<link rel="stylesheet" type="text/css" href="../styles/welcome.css">-->
<img src="../images/welcome.gif" align="right" width="400" height="300">
<!--<layer id="placeholderlayer"></layer><div id="placeholderdiv"></div>-->
</div>